body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Montserrat", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  max-width: 1400px;
  margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

img {
  max-width: 100%;
  height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Header styles */

.header__phone {
  padding-top: 15px;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}
.header__text {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: right;
}

/* Burger */

.header__burger {
  display: none;
}

/* .header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: gray;
  z-index: 3;
  opacity: 0.5;
} */

/* .header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 15rem;
} */

/* .header__logo {
  position: relative;
  z-index: 3;
  margin-left: -8rem;
  margin-right: 20rem;
} */

/* .header__logo img {
  display: block;
} */

@media (max-width: 860px) {
  .header__burger {
    align-self: start;
    margin-top: 1.5rem;
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header__burger span {
    position: absolute;
    left: 0;
    top: 9px;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before,
  .header__burger:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__burger.active span {
    transform: scale(0);
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: grey;
    opacity: 0.5;
    z-index: 2;
    padding-top: 10rem;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }

  .header__menu.active {
    top: 0;
  }

  .header__list {
    display: block;
  }

  .header__list li {
    margin-left: 1rem;
    font-size: 2.2rem;
  }

  .header__list li:nth-child(2),
  .header__list li:nth-child(5) {
    text-align: left;
    margin-top: 0;
  }

  body.lock {
    overflow: hidden;
  }

  .header__nav {
    display: flex;
    justify-content: space-between;
    min-height: 50px;
    margin-bottom: 0;
  }
}

.header__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  z-index: 3;
  margin-bottom: 2rem;
}

/* .header__list li {
  margin-right: 5.5rem;
}

.header__list li:last-child {
  margin-right: 0;
}

.header__list li:nth-child(2),
.header__list li:nth-child(5) {
  text-align: center;
}

.header__list li:nth-child(3) {
  min-width: 18rem;
}
.header__link {
  font-size: 2.2rem;
  line-height: 25px;
}

@media (max-width: 1765px) {
  .header__logo {
    margin-left: 0;
  }
}

@media (max-width: 1650px) {
  .header__body {
    min-height: 8rem;
  }
  .header__logo {
    margin-right: 10rem;
    flex: 0 0 240px;
  }

  .header__link {
    font-size: 1.4rem;
  }

  .header__list li:nth-child(3) {
    min-width: 10rem;
  }

  .header__list li {
    margin-right: 3rem;
  }
}

@media (max-width: 996px) {
  .header__logo {
    flex: 0 0 140px;
    margin-right: 5rem;
  }
  .header__link {
    font-size: 1.3rem;
  }
  .header__list li {
    margin-right: 2rem;
  }
}

@media (max-width: 905px) {
  

  .header__logoword {
    max-width: 100%;
    flex: 0 0 120px;
    margin-bottom: 1.5rem;
    margin-left: 0;
  }
} */

/* Content */

.content__item1,
.content__item2,
.content__item4,
.content__item5 {
  margin-right: 20px;
}

.card__description {
  padding-top: 29px;
  padding-left: 29px;
  padding-right: 29px;
}
